#conditionals
vrf definition {{name}}
 rd {{number}}
 !
{%- if ipv4_enabled %}
 address-family ipv4
  route-target export 100:1
  route-target import 100:1
 exit-address-family
 !
{%- endif %}
{%- if ipv6_enabled %}
 address-family ipv6
  route-target export 100:1
  route-target import 100:1
 exit-address-family
{%- endif %}
